@font-face {
    font-family: "CircularSTD";
    src: url("CircularStd-Medium.woff") format('woff');
}

@font-face {
    font-family: "SofiaPro-Medium";
    src: url("SofiaPro-Medium.woff") format('woff');
}

@font-face {
    font-family: "SofiaPro-Medium";
    src: url("./fonts/SofiaPro-Bold.woff") format('woff');
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

@media (min-width: 320px){
body {
    font-family: "CircularSTD";
    font-size: 62.5%;
}

.browser {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.header__wrapper-logo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.search__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__container-logo {
    padding-left: 15px;
    padding-right: 15px;
}

.search__container-input {
    min-width: 224px;
    border: none;
    min-height: 24px;
}

.header__list-wrapper {
    display: none;

}

.header__icon-search {
    display: none;
}

.header__icon-account {
    padding-left: 15px;
    padding-right: 15px;
}

.sidebar__heading {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.sidebar {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sidebar__list {
    list-style-image: none;
}

.sidebar__item {
    padding-left: 1rem;
    max-height: 1.5rem;
    margin-top: 0.5rem;
}

.footer__text-paragraph {
    padding-left: 1rem;
    padding-top: 2rem;
}
.main__container-images{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}
.main__container-img{
    max-width: 100%;
    max-height: 50%;
    position: inherit;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}
.main__container-img2{
    max-width: 50%;
    max-height: 100%;
    position: inherit;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}
}
@media (min-width: 640px){

    .header__wrapper {
        min-width: 100%
    }
    
    .header__wrapper-logo {
        padding-bottom: 0rem;
    }
    
    .search__container {
        justify-content: space-evenly;
    }
    
    .search__container-input {
        min-width: 3800px;
        border: none;
        min-height: 24px;
    }
    
    .header__list-wrapper {
        display: none;
    
    }
    
    .header__icon-search {
        display: inherit;
    }
    
    .header__icon-account {
        padding-left: 15px;
        padding-right: 15px;
    }
    
}