*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    /* max-width: 360px; */
    font-size: 1.3rem;
}

.browser{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.header__wrapper-logo{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom: 1rem;
}
.search__container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.search__container-logo{
    padding-left: 15px;
    padding-right: 15px;
}
.search__container-input{
    min-width: 224px;
    border:none;
    min-height: 24px;
}
.header__list-wrapper{
    display: none;

}
.header__icon-search{
    display: none;
}
.header__icon-account{
    padding-left: 15px;
    padding-right: 15px;
}
.sidebar__heading{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.sidebar{
    align-items: center;
    justify-content: center;
}
.sidebar__list{
    list-style-image: none;
}
.sidebar__item{
    padding-left: 1rem;
    max-height: 1.5rem;
    margin-top: 0.5rem;
}

.sidebar__item-icon{
    min-height: 25px;
    min-width: 25px;
}